# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.swp

# VS Code
.vscode/
.settings/

# macOS
.DS_Store

# IDE-specific
.idea/
*.sublime-workspace
*.sublime-project

# Python packaging
dist/
build/
*.egg-info/
*.egg
